#vung1 {
    Background-color: blue;
    color: yellow;
    height: 200px;
    border: 5px solid green;
}
#vung2 {
    background-color: yellow;
    color: red;
    height: 100px;
    border: 5px solid blue;
}
#vung3 {
    background-color: red;
    color: white;
    height: 200px;
    border: 5px solid scaled;
}
img {
    max-width: 100%;
    height: 200;
}
